__pycache__/

# Python
__pycache__/
.pytest_cache/
.ipynb_checkpoints/

# IDE
.vscode/
.venv/
.env

# Models
models/*.joblib
models/*.pkl

# Generated artifacts
artifacts/
reports/
logs/
notebooks/

# CatBoost
catboost_info/

# OS
.DS_Store
