# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*.pyo

# =========================
# Virtual environments
# =========================
venv/
.venv/

# =========================
# Environment variables
# =========================
.env

# =========================
# IDEs
# =========================
.vscode/
.idea/

# =========================
# Jupyter
# =========================
.ipynb_checkpoints/

# =========================
# Streamlit
# =========================
.streamlit/secrets.toml

# =========================
# Testing
# =========================
.pytest_cache/
.coverage
htmlcov/

# =========================
# Linters / Type Checkers
# =========================
.ruff_cache/
.mypy_cache/

# =========================
# Build artifacts
# =========================
dist/
build/
*.egg-info/

# =========================
# Logs
# =========================
logs/

# =========================
# Machine Learning
# =========================

# Trained models
models/*.joblib
models/*.pkl
models/*.json

# CatBoost training output
catboost_info/

# Generated artifacts
artifacts/
reports/
notebooks/
models/

# =========================
# Operating System
# =========================
.DS_Store
Thumbs.db